/* two sizes are 1920*1080(laptop) and 425*675(mobile */
.grid {
    display: grid;
    font-size: 18px;
    grid-template-columns: 40px 80px 60px 50px 20px 280px 380px 460px 220px;
    grid-template-rows: 40px 55px 100px 110px 190px 190px 35px 5px;
}

body {
    background-color: #FFFAF3;
    color: #575279;
    font-family: 'Averia Serif Libre', cursive;
}

header {
    grid-column-start: 9;
    grid-row-start: 1;
    grid-row-end: 2;
}

.header {
    display: flex;
    flex-direction: row;
}

li{
    margin-right: 10px;
}

ul>li {
    list-style-type: none;
}

.slideout {
    grid-column-start: 1;
    grid-row-start: 2;
}

.sidebar {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 9;
    width: 256px;
    background-color: #f2e9de;
    display:flex;
    flex-direction: column;
}

#slidein {
    align-self: flex-start;
    margin-left: 200px;
}

footer {
    grid-column-start: 7;
    grid-row-start: 7;
    width: 370px;
}

#sidehead {
    margin-bottom: 0;
    font-size: 19px;
    align-self: center;
}

#notelist {
    align-self: center;
    padding-left: 0;
    color: #3e8fb0;
}

#textarea {
    grid-column-start: 7;
    grid-row-start: 3;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#notebutton {
    height: max-content;
}

#newnote {
    width: 450px;
    font-size: 18px;
    height: 200px;
    background-color: #f2e9de;
    font-family: 'Averia Serif Libre', cursive;
}

#textareabuttons {
    grid-column-start: 8;
    grid-row-start: 5;
    display: flex;
    flex-direction: row;
    height: max-content;
}

#save {
    font-size: 18px;
}

#del {
    font-size: 18px;
    color: #eb6f92;
}

#note {
    width: 250px;
    grid-column-start: 7;
    grid-row-start: 3;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

button {
    font-size: 32px;
    background-color: unset;
    border-style: none;
    font-family: 'Averia Serif Libre', cursive;
    color: #575279;
    height: max-content;
}

button:hover {
    color: #3e8fb0;
}

@media only screen and (max-width: 450px) {
    .grid {
        display: grid;
        grid-template-columns: 60px 30px 20px 95px 85px;
        grid-template-rows: 60px 60px 215px 290px 50px;
        font-size: 14px;
    }

    header {
        grid-column-start: 6;
        grid-row-start: 1;
        font-size: 15px;
    }
    
    .slideout {
        grid-column-start: 1;
        grid-row-start: 2;
        width: max-content;
    }
    
    li{
        margin-right: 5px;
    }

    #note {
        grid-column-start: 3;
        grid-row-start: 3;
        
    }

    footer {
        grid-column-start: 3;
        grid-row-start: 5;
        width: 300px;
        font-size: 13px;
    }

    #slidein {
        margin-left: 50px;
    }

    .sidebar {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 5;
        width: 85px;
        height: 675px;
    }
    
    #sidehead {
        font-size: 15px;
    }
    
    #textarea {
        grid-column-start: 4;
        grid-row-start: 3;
        width: 250px;
    }
    
    #newnote {
        width: 150px;
        height: 200px;
        font-size: 15px;
    }
    
    #textareabuttons {
        grid-column-start: 5;
        grid-row-start: 4;
    }
    
    #save {
        font-size: 13px;
    }
    
    #del {
        font-size: 13px;
    }
    
    button {
        font-size: 20px;
    }
}