.grid {
    display: grid;
    grid-template-columns: repeat(5, 85px);
    grid-template-rows: repeat(27, 25px);
}

header {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 115px;
}
body {
    background-color: #FFFAF3;
    color: #575279;
    font-family: 'Averia Serif Libre', cursive;
    font-size: 13px;
}

.slideout {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    width: 35px;
}

footer {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 26;
    grid-row-end: 26;
    width: 300px;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between
    
}
ul>li {
    list-style-type: none;
}

button {
    color: #575279;
    border-style: none;
    background-color: unset;
    font-family: 'Averia Serif Libre', cursive;
    font-size: 20px;

}

button:hover {
    color: #3e8fb0;
}

#note {
    display: flex;
    flex-direction: row;
    width: 250px;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
}